{% extends "page.html" %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
  <div class="main">
    {% block primary %}
    {% endblock %}
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/style/mapsearch.css" />
  <link rel="stylesheet" href="/vendor/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="/vendor/bootstrap-responsive-v2.3.2.min.css" />
  <link rel="stylesheet" href="/vendor/leaflet-draw/leaflet.draw.css" />
  <link rel="stylesheet" href="/vendor/leaflet-cluster/MarkerCluster.css" />
{% endblock %}

{%- block scripts -%}
  {{ super() }}
  <script src="/vendor/leaflet-0.7.3/leaflet.js"></script>
  <script src="/vendor/leaflet-draw/leaflet.draw.js"></script>
  <script src="/vendor/leaflet-cluster/leaflet.markercluster.js"></script>
  <script src="/vendor/jquery-1.11.0.min.js"></script>
  <script src="/vendor/underscore-v1.6.0.min.js"></script>
  <script src="/vendor/backbone-v1.1.2.min.js"></script>
  <script src="/scripts/mapsearch-models.js"></script>
  <script src="/scripts/mapsearch-views.js"></script>
  <script src="/scripts/mapsearch-app.js"></script>
{% endblock %}