html, body {
    height: 100%;
}

.map-search {
    min-height: 700px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map-search .container {
    width: auto;
    max-width: none;
    margin-left: 10px;
    margin-right: 10px;
}

.map-search .navbar {
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 6px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    opacity: 0.9;
}

.map-search .navbar .toolbar {
    margin-bottom: 0;
    float: left;
}

.map-search .navbar .navbar-inner .btn {
    background-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    height: 30px;
    width: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

.map-search .navbar .navbar-inner .btn:hover {
    background-color: #DDDDDD;
}


.map-search .navbar .navbar-inner .btn .icon-bar {
    background-color: #888888;
    box-shadow: none;
    width: 18px;
    height: 2px;
    margin-bottom: 2px;
    display: block;
    border-radius: 4px;
}

.map-search .leaflet-top {
    margin-top: 52px;
}

#map-content-tab {
    position: absolute;
    background-color: #ffffff;
    margin: 8px;
    margin-right: 11px;
    padding-right: 15px;
    right: 0;
    top: 53px;
    bottom: 10px;
    display: none;
    width: 425px;
    border-radius: 4px;
}

#map-content-tab.active {
    display: block;
}

#map-content-tab #content-window {
    width: 100%;
    padding: 8px;
}

#map-content-tab #content-window .input-append {
    width: 100%;
}

#map-content-tab #content-window .input-append input {
    width:77%;
}

#map-content-tab #content-window .input-append button {
    width: 20%;
}