html, body {
    height: 100%;
}

div[role=main] {
    min-height: 50px;
    max-height: 700px;
    height: 100%;
    padding-bottom: 100px;
}

#content.container {
    height: inherit;
}

.wrapper {
    height: inherit;
}

.map-search {
    height: inherit;
}

#map {
    height: inherit;
}